<div class="jumbotron row item-list">
  <div class="col-md-offset-2 col-md-8">
    <h1 class="quote">Educate</h1>
    <p> Please select one of the following options to proceed</p>
    <div class="row">
      <div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">

        <ul class="items">
          <a ui-sref="search-record"><li>Search for a student record</li></a>
          <a ui-sref="create-record"><li>Create a student record</li></a>
          <a ui-sref="modify-record"><li>Modify a student record</li></a>
        </ul>

  </div>
</div>

