<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <form class="form-create">
            <h1 class="form-create-heading">
              <a ui-sref="home" class="back">&lsaquo;</a>
              <span class="heading"> Modify existing student details</span>
            </h1>
            <label for="inputName" class="sr-only">Name</label>
            <input type="text" id="inputName" class="form-control" placeholder="Name of student" required autofocus>

            <label for="inputCourse" class="sr-only">Course</label>
            <input type="text" id="inputCourse" class="form-control" placeholder="Current enrolled course" required>

            <label for="inputAge" class="sr-only">Age</label>
            <input type="text" id="inputAge" placeholder="Age" class="form-control">

            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>

            <div class="checkbox">
              <label>
                <input type="checkbox" value="student.is_active"> Is this student active?
              </label>
            </div>

            <button class="btn btn-lg btn-primary btn-block col-md-offset 4 col-md-5" type="submit">Save new changes</button>
    </form>
  </div>
</div>

