<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <form class="form-create">
        <h1 class="form-create-heading">
          <a ui-sref="home" class="back">&lsaquo;</a>
          <span class="heading"> Search for students</span>
        </h1>

        <input type="text" id="search" class="form-control" placeholder="Search" ng-model="searchText" autocomplete="off">
    </form>
    <div>
      <table class="table table-bordered table-striped">
        
        <thead>
          <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Course</td>
          </tr>
        </thead>
        
        <tbody>
        <tr ng-repeat="record in vm.records | filter: searchText">
                <td>{{ record.name }}</td>
                <td>{{ record.age }}</td>
                <td>{{ record.course }}</td>
              </tr>
        </tbody>
        
        </table>

    </div>
  </div>
</div>
