<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <form class="form-create" ng-submit="vm.save()">
            <h1 class="form-create-heading">
              <a ui-sref="home" class="back">&lsaquo;</a>
              <span class="heading"> Create a new student </span>
            </h1>
            <label for="inputName" class="sr-only">Name</label>
            <input ng-model="vm.student.name" type="text" id="inputName" class="form-control" placeholder="Name of student" required autofocus>

            <label for="inputCourse" class="sr-only">Course</label>
            <input ng-model="vm.student.course" type="text" id="inputCourse" class="form-control" placeholder="Current enrolled course" required>

            <label for="inputAge" class="sr-only">Age</label>
            <input ng-model="vm.student.age" type="text" id="inputAge" placeholder="Age" class="form-control">

            <label for="inputEmail" class="sr-only">Email address</label>
            <input ng-model="vm.student.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required>

            <div class="checkbox">
              <label>
                <input ng-model="vm.student.is_active" type="checkbox" value="remember-me"> Is this student active?
              </label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>

    <div class="alert alert-success" ng-show="vm.flash" role="alert">{{vm.flash}}</div>
  </div>
</div>
