// Variables
// -------------------------------

$font: 'Source Sans Pro', sans-serif
$fontdark : #29282C
$fontlight: #D1E8F4
$basecolor: #FFFFFF
$emerald: #22DD99
$lightaqua: #89DCB3

// custom styles below
// -------------------------------

html,
body 
  font-weight: 300
  color: $fontdark
  font-family: $font
  background-color: $basecolor

#main
  margin-top: 50px
  font-size: 18px
.content 
  text-align: center

#logo 
  height: 10em

a
  color: $fontdark
  text-decoration: none
  &:hover
    text-decoration: none
    color: $emerald

.back
  font-size: 100px
  color: $emerald

.quote
  font-size: 42px
  text-transform: uppercase
  color: $emerald

.navbar-fixed-top
  background-color: #F6F6F6
.navbar-inverse .navbar-nav>li>a
  color: #AAA

.btn
  font-weight: 600
.btn-primary,
.btn-primary.focus,
.btn-primary:focus
  background-color: #2d9
  border-color: #1DC588
.btn-primary:hover
  background-color: #1DC588

// home page
.item-list
  margin-top: 50px
.items
  list-style-type: none
  padding: 0
  li, li:focus
    background-color: #FAFAFA
    border: 1px solid #d7d7d7
    padding: 10px
    margin: 20px
    cursor: pointer
    &:hover
      color: $emerald
      box-shadow: 0px 0px 10px 2px #e0e0e0
      
// forms
.form-signin 
  max-width: 330px
  padding: 15px
  margin: 0 auto

.form-signin .form-signin-heading,
.form-signin .checkbox 
  margin-bottom: 10px

.form-signin .checkbox 
  font-weight: normal

.form-signin .form-control 
  position: relative
  height: auto
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding: 10px
  font-size: 16px

.form-signin .form-control:focus 
  z-index: 2

.form-signin input[type="email"] 
  margin-bottom: -1px
  border-bottom-right-radius: 0
  border-bottom-left-radius: 0

.form-signin input[type="password"] 
  margin-bottom: 10px
  border-top-left-radius: 0
  border-top-right-radius: 0

.form-signin 
  max-width: 330px
  padding: 15px
  margin: 0 auto

.form-signin .form-signin-heading,
.form-signin .checkbox 
  margin-bottom: 10px

.form-signin .checkbox 
  font-weight: normal

.form-signin .form-control 
  position: relative
  height: auto
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding: 10px
  font-size: 16px

.form-signin .form-control:focus 
  z-index: 2

.form-signin input[type="email"] 
  margin-bottom: -1px
  border-bottom-right-radius: 0
  border-bottom-left-radius: 0

.form-signin input[type="password"] 
  margin-bottom: 10px
  border-top-left-radius: 0
  border-top-right-radius: 0


// create modify forms
.form-create
  text-align: left
  margin-bottom: 30px
  .form-create-heading
    .heading
      vertical-align: super
  input
    margin: 10px auto
  .search-btn
    margin: 8px 5px

